* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.orange {
  color: orange;
}

.magneta {
  color: magenta;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
